@page "/"

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="div-container-center">
    <div >
        <h1> Main Menu</h1>
    </div>
    <br/>
    <div>
        <table class="table-container-center">
            <tr>
                <td>
                    <a class="btn btn-primary btn-sm" href="/StockTakeMenu">Stock Take</a>
                </td>
            </tr>
            <tr><td style="height: 5px;"></td></tr>
            <tr>
                <td>
                    <a class="btn btn-primary btn-sm" href="">Packing Material Supply</a>
                </td>
            </tr>
            <tr><td style="height: 5px;"></td></tr>
            <tr>
                <td>
                    <a class="btn btn-primary btn-sm" href="">Logout</a>
                </td>
            </tr>
        </table>
    </div>
</div>


<style>

    .div-container-center {
        margin: 5% auto;
        width: 100%;
        text-align: center;
        align-content: center;
    }

    .table-container-center {
        width: 100%;
        text-align: center;
    }

    .btn-primary {
        color: black;
        background-color: lightgrey;
        border-color: grey;
    }

    .btn-group-sm>.btn, .btn-sm {
        width: 60%;
    }
    
</style>


